<div class="row">
    <div class="col-sm-11 mx-auto">
        <h4 class="infor__title mb-4 fw-bold">
            Thông tin cá nhân
        </h4>
        {{!-- mấy cái thông báo đang còn rất là loằng ngoằng --}}
        {{#each user}}
        <div class="section__infor shadow">
            <div class="row">
                <div class="col-sm-4">
                    <div class="Boxchange__avatar mt-5">
                        <div class="change__avatar">
                            <img src="{{this.avatar}}" alt="Ảnh đại diện" class="avatar__profile w-100 h-100"
                                style="width: 100px;height:100px">
                            <div class="avatar__upload">
                                <ion-icon name="camera"></ion-icon>
                            </div>
                            <form name="form-change-avatar" action="/infor/{{this._id}}/avatar?_method=PUT"
                                enctype="multipart/form-data" , method="POST">
                                <input class="file-upload" type="file" name="avatar" accept="image/*" hidden="hidden" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="box__infor">
                        <form method="POST" action="/infor/{{this._id}}?_method=PUT">
                            <div>
                                <p style='margin-bottom: 1.2rem'>
                                    <label>Tên Tài khoản:</label>
                                    <span class="user-name">
                                        @{{this.username}}
                                    </span>
                                </p>
                            </div>

                            <div>
                                <p>
                                    <label for="">Họ tên
                                        <span class="text-danger">(*)</span>
                                    </label>

                                    <input class="infor__input" maxlength='30' type='text' name='fullname'
                                        placeholder='Nhập họ và tên' value="{{this.fullname}}" required="required"
                                        autocomplete="off">
                                </p>
                            </div>


                            <div>
                                <p>
                                    <label for="">Số điện thoại
                                        <span class="text-danger">(*)</span>
                                    </label>
                                    <input class="infor__input" maxlength='30' type='text' name='phone'
                                        placeholder='Nhập số điện thoại' value="{{this.phone}}" required="required"
                                        autocomplete="off">
                                </p>
                            </div>

                            <div>
                                <p>
                                    <label for="">Ngày sinh
                                        <span class="text-danger">(*)</span>
                                    </label>
                                    {{!-- chưa show ra được ngày tháng năm --}}
                                    <input class="infor__input" id="birthday" type="date" name="birthDay"
                                        required="required" autocomplete="off"
                                        value="{{formatDateYMD this.birthDay}}" />
                                </p>
                            </div>


                            <div>
                                <p>
                                    <label for="">Địa chỉ
                                        <span class="text-danger">(*)</span>
                                    </label>

                                    <input class="infor__input" maxlength='30' type='text' name='address'
                                        placeholder='Địa chỉ' value="{{this.address}}" required="required"
                                        autocomplete="off">
                                </p>
                            </div>

                            <div>
                                <p>
                                    <label style='margin: 1.4rem 0 1.8rem 0'>Email:
                                        <span class="text-danger">(*)</span>
                                    </label>

                                    <span class="email">
                                        {{!-- email --}}
                                        {{this.email}}
                                    </span>
                                </p>

                                <p>
                                    Hãy nhập chính xác
                                    <span style="color: red">
                                        số điện thoại của bạn hoặc người thân
                                    </span>
                                    để được thầy cô hỗ trợ nhanh chóng!
                                </p>
                            </div>

                            <p class="box__update">
                                <button class="btn__update" type="submit"> Cập nhật</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>


{{#if errors}}
<div id="errors" style="visibility: hidden;">{{errors}}</div>
{{else}}
{{#if success}}
<div id="success" style="visibility: hidden;">{{success}}</div>
{{/if}}
{{/if}}


<script>
    var msgError = document.getElementById('errors');
    ///toast message
    let msgToastError = msgError.innerHTML;

    if (msgToastError != '') {
        Eggy({
            title: 'Oops... Có gì đó không đúng',
            message: msgToastError,
            type: 'warning',
            duration: 5000,
        });
    }
</script>
<script>
    var msgSuccess = document.getElementById('success');
    let msgToastSuccess = msgSuccess.innerHTML;
    if (msgToastSuccess != '') {
        Eggy({
            title: 'Thành Công',
            message: msgToastSuccess,
            type: 'success',
            duration: 5000,
        });
    }
</script>



<script>
    $(document).ready(function () {
        $(".avatar__upload, .avatar__profile").on('click', function () {
            $(".file-upload").click();
        });

        $(".file-upload").change(function () {
            $("form[name=form-change-avatar]").submit();
        })
    })
</script>