<section class="competition__ranks">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title">Bảng xếp hạng thi đấu</h4>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-hover table-striped table-bordered text-dark" id="bootstrap-data-table">
                        <thead>
                            <tr >
                                <th class="font-weight-bold">#</th>
                                <th class="font-weight-bold">Thành viên</th>
                                <th class="font-weight-bold">Email</th>
                                <th class="font-weight-bold">Tổng điểm tích lũy</th>
                                <th class="font-weight-bold">Số trận thắng</th>
                                <th class="font-weight-bold">Hoạt động</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ranks}}
                                <tr >
                                    <td>{{sum @index 1}}</td>
                                    {{#this.user}}
                                        <td>
                                            <a href="/user/{{_id}}/edit">
                                                <img src="{{avatar}}" alt=""style="width:30px;height:30px; border-radius:20px">
                                                {{fullname}}
                                            </a>
                                        </td>
                                        <td>{{email}}</td>
                                    {{/this.user}}
                                    <td>{{round this.score}} điểm</td>
                                    <td >{{this.victory}}</td>
                                    <td>{{formatDateLocale this.updatedAt}}</td>
                                </tr>

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>