<tbody>
    {{#each ranks}}
        <tr class="align-middle">
                <th scope='row'>{{sum @index 1}}</th>
                {{#this.user}}
                <td>
                <img src="{{avatar}}" alt="" class="rounded-circle"  width=26 height=26>
                <span class="ms-2">{{fullname}}</span>
                </td>
                {{/this.user}}
                <td>{{this.score}}</td>
                <td>{{this.victory}}</td>
        </tr>
    {{else}}
        <tr>
            <td class="text-center" colspan='4'>Không có dữ liệu!!!</td>
        </tr> 
            
    {{/each}}
</tbody>