<div class="slideshow">
  <div class="slideshow__wrapper">
    <div class="slick__slider">
      <div class="carousel slide" id="carouselBannerCaptions" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button class="" type="button" data-bs-target="#carouselBannerCaptions" data-bs-slide-to="0"
            aria-label="Slide 1"></button>
            
          <button type="button" data-bs-target="#carouselBannerCaptions" data-bs-slide-to="1" aria-label="Slide 2"
            class="active" aria-current="true"></button>''
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block text-start">
            </div>
            <div class="carousel-banner">
              <img class="w-100" src="https://tnttgpphucuong.org/wp-content/uploads/2019/10/Untitled-2-1.png" alt="...">
            </div>
          </div>
          <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block text-start">
            </div>
            <div class="carousel-banner">
              <img class="w-100"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQnpzJpyultdzGIZM3B0jyX8B6TWFQBsoIfWaARU4clpyvVgbzCOLWsWrMoGwljccZ5jQ&usqp=CAU"
                alt="...">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBannerCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBannerCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="section__list">

  <div>
    <h4 style="margin-top: 50px; margin-bottom: -10px; font-weight: 500;">Danh Sách Lớp Học</h4>
  </div>
  <hr style="margin-left: 0px; margin-right: -150px;  margin-bottom: -40px; " width="15%">
  <div class="mt-5">
    <ul class="nav nav-tabs" style="margin-left: 30px;">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#socap">Sơ Cấp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="tab" href="#canban">Căn Bản</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#kinhthanh">Kinh Thánh</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#vaodoi">Vào Đời</a>
      </li>
    </ul>
    <div class="tab-content mt-5">
      <div class="container tab-pane active" id="socap">
        <div class="title__container d-flex align-items-center justify-content-between mb-4">
          <h3 class="fw-bold mb-0">Lớp Sơ Cấp</h3>
          <a class="d-flex align-items-center text-primary" href="/subjects">
            <span>Xem tất cả</span>
            <ion-icon class="right md hydrated" name="chevron-forward-outline" role="img"
              aria-label="chevron forward outline"></ion-icon>
          </a>
        </div>
        <div class="row" style="border-radius: 8px;">
          <div class="swiper-container swiper1">
            <div class="swiper-wrapper mb-3">
              {{#each gradeSoCap}}
              <div class="swiper-slide">
                <div class="subjects__item" style="border: 1px solid rgba(0,0,0,.125); border-radius:20px;">
                  <a class="subjects__link" href="#">
                    {{#if this.image}}
                    <img src="{{this.image}}">
                    {{else}}
                    <img src="https://i.pinimg.com/236x/fe/09/05/fe09055dfc6d7638765d3fa255e4b788.jpg" alt="">
                    {{/if}}
                  </a>
                  <h5 class="mt-3 subjects__title" style="text-align: center;">
                    {{name}}
                  </h5>
                  <hr>
                  <div class="btns" style="align-items: center; margin-bottom: 10px; margin-left: 12%">
                    <a href="/subjects/theory/{{this.slug}}" class="btn btn-success" style="margin-right:20px">
                      
                      Lý Thuyết
                    </a>
                    <a href="/subjects/bible/{{this.slug}}" class="btn btn-success"> Kinh</a>
                  </div>
                </div>
              </div>
              {{/each}}
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container tab-pane fade" id="canban">
        <div class="title__container d-flex align-items-center justify-content-between mb-4">
          <h3 class="fw-bold mb-0">Lớp Căn Bản</h3>
          <a class="d-flex align-items-center text-primary" href="/subjects">
            {{!-- <span>Xem tất cả</span> --}}
            <ion-icon class="right md hydrated" name="chevron-forward-outline" role="img"
              aria-label="chevron forward outline"></ion-icon>
          </a>
        </div>
        <div class="row" style="border-radius: 8px;">
          <div class="swiper-container swiper1">
            <div class="swiper-wrapper mb-3">
              {{#each gradeCanBan}}
              <div class="swiper-slide">
                <div class="subjects__item" style="border: 1px solid rgba(0,0,0,.125); border-radius:20px;">
                  <a class="subjects__link" href="#">
                    {{#if this.image}}
                    <img src="{{this.image}}">
                    {{else}}
                    <img src="https://i.pinimg.com/236x/fe/09/05/fe09055dfc6d7638765d3fa255e4b788.jpg" alt="">
                    {{/if}}
                  </a>
                  <h5 class="mt-3 subjects__title" style="text-align: center;">
                    {{name}}
                  </h5>
                  <hr>
                  <div class="btns" style="align-items: center; margin-bottom: 10px; margin-left: 12%">
                    <a href="/subjects/theory/{{this.slug}}" class="btn btn-success" style="margin-right:20px">
                      
                      Lý Thuyết
                    </a>
                    <a href="/subjects/bible/{{this.slug}}" class="btn btn-success"> Kinh</a>
                  </div>
                </div>
              </div>
              {{/each}}
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container tab-pane fade" id="kinhthanh">
        <div class="title__container d-flex align-items-center justify-content-between mb-4">
          <h3 class="fw-bold mb-0">Lớp Kinh Thánh</h3>
          <a class="d-flex align-items-center text-primary" href="/subjects">
            {{!-- <span>Xem tất cả</span> --}}
            <ion-icon class="right md hydrated" name="chevron-forward-outline" role="img"
              aria-label="chevron forward outline"></ion-icon>
          </a>
        </div>
        <div class="row" style="border-radius: 8px;">
          <div class="swiper-container swiper1">
            <div class="swiper-wrapper mb-3">
              {{#each gradeKinhThanh}}
              <div class="swiper-slide">
                <div class="subjects__item" style="border: 1px solid rgba(0,0,0,.125); border-radius:20px;">
                  <a class="subjects__link" href="#">
                    {{#if this.image}}
                    <img src="{{this.image}}">
                    {{else}}
                    <img src="https://i.pinimg.com/236x/fe/09/05/fe09055dfc6d7638765d3fa255e4b788.jpg" alt="">
                    {{/if}}
                  </a>
                  <h5 class="mt-3 subjects__title" style="text-align: center;">
                    {{name}}
                  </h5>
                  <hr>
                  <div class="btns" style="align-items: center; margin-bottom: 10px; margin-left: 12%">
                    <a href="/subjects/theory/{{this.slug}}" class="btn btn-success" style="margin-right:20px">
                      
                      Lý Thuyết
                    </a>
                    <a href="/subjects/bible/{{this.slug}}" class="btn btn-success"> Kinh</a>
                  </div>
                </div>
              </div>
              {{/each}}
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container tab-pane fade" id="vaodoi">
        <div class="title__container d-flex align-items-center justify-content-between mb-4">
          <h3 class="fw-bold mb-0" style="text-align: center;">Lớp Vào Đời</h3>
          <a class="d-flex align-items-center text-primary" href="/subjects">
            {{!-- <span>Xem tất cả</span> --}}
            <ion-icon class="right md hydrated" name="chevron-forward-outline" role="img"
              aria-label="chevron forward outline"></ion-icon>
          </a>
        </div>
        <div class="row" style="border-radius: 8px;">
          <div class="swiper-container swiper1">
            <div class="swiper-wrapper mb-3">
              {{#each gradeVaoDoi}}
              <div class="swiper-slide">
                <div class="subjects__item" style="border: 1px solid rgba(0,0,0,.125); border-radius:20px;">
                  <a class="subjects__link" href="#">
                    {{#if this.image}}
                    <img src="{{this.image}}">
                    {{else}}
                    <img src="https://i.pinimg.com/236x/fe/09/05/fe09055dfc6d7638765d3fa255e4b788.jpg" alt="">
                    {{/if}}
                  </a>
                  <h5 class="mt-3 subjects__title" style="text-align: center;">
                    {{name}}
                  </h5>
                  <hr>
                  <div class="btns" style="align-items: center; margin-bottom: 10px; margin-left: 12%">
                    <a href="/subjects/theory/{{this.slug}}" class="btn btn-success" style="margin-right:20px">
                      
                      Lý Thuyết
                    </a>
                    <a href="/subjects/bible/{{this.slug}}" class="btn btn-success"> Kinh</a>
                  </div>
                </div>
              </div>
              {{/each}}
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Phần blog --}}

  <hr />
  <h2>Blog nổi bật
    <a href="/blog"
      style="position: absolute; right: 0; margin-right:52px; color:rgb(58, 58, 249); font-size:17px"><span>Xem
        tất cả ></span></a>
  </h2>
  &nbsp;&nbsp;
  <div class="container text-center">
    <div class="row align-items-start">
      {{#each customBlog}}

      <a class="col" style="color: black; text-decoration: none; margin-left: 30px; margin-right:30px;"
        href="/blog/{{this.slug}}">
        <img src="{{this.image}}" alt="123" style="width : 150px;height:150px;  border-radius: 25px;">
        <p style="font-weight: bold;font-size:20px">{{this.title}}
        </p>
        <span class="text-secondary"></span>
      </a>
      {{/each}}
    </div>
  </div>


</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    $(".carousel-item").first().addClass("active");

    var swiper1 = new Swiper(".swiper-container.swiper1", {
      slidesPerView: 4,
      spaceBetween: 30,
      breakpoints: {
        '320': {
          slidesPerView: 1,
          spaceBetween: 24,
        },
        '460': {
          slidesPerView: 2.5,
          spaceBetween: 30,
        },
        '771': {
          slidesPerView: 4,
          spaceBetween: 30
        }
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      scrollbar: {
        el: ".swiper-scrollbar",
        draggable: true,
      },
    });
    var swiper2 = new Swiper(".swiper-container.swiper2", {
      slidesPerView: 4,
      spaceBetween: 30,
      breakpoints: {
        '320': {
          slidesPerView: 1,
          spaceBetween: 24,
        },
        '460': {
          slidesPerView: 2.5,
          spaceBetween: 30,
        },
        '771': {
          slidesPerView: 4,
          spaceBetween: 30
        }
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      scrollbar: {
        el: ".swiper-scrollbar",
        draggable: true,
      },
    });
  })
</script>