
    <section class="system__list">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="card-title">Danh Sách Người Dùng </div>
                        
                        <div class="d-flex align-items-center">
                            <form  action="/user/export" method="POST">
                                <button class="btn btn-outline-primary btn-icon-text " type="submit">
                                    <i class="mdi mdi-file-excel btn-icon-prepend"></i>
                                    Xuất excel
                                </button>
                            </form>
                             &nbsp;&nbsp;&nbsp;
                            <div class="form-group mb-0 ml-4">
                                <a class="btn btn-outline-success btn-icon-text ml-auto" href="/user/create">
                                    <i class="mdi mdi-upload btn-icon-prepend"></i>
                                    Thêm mới người Dùng
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-hover table-striped table-bordered text-dark">
                            <thead>
                                <tr>
                                    <th style="min-width:auto; text-align: center;  font-weight: bold; font-size: large;"  scope="col">#</th>
                                    <th style="min-width:auto; text-align: center;  font-weight: bold; font-size: large;" >Thành viên</th>
                                    <th style="min-width:auto; text-align: center;  font-weight: bold; font-size: large;" >Email</th>
                                    <th style="min-width:auto; text-align: center;  font-weight: bold; font-size: large;" >Số điện thoại</th>
                                    <th style="min-width:auto; text-align: center;  font-weight: bold; font-size: large;" >Ngày sinh</th>
                                    <th style="min-width:auto; text-align: center;  font-weight: bold; font-size: large;" >Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users }}
                                    <tr>
                                        <th scope="row" style="text-align: center;">{{sum @index 1}}</th>
                                        <td style="text-align: center; color: #000000;">{{ this.fullname}}</td>
                                        <td style="text-align: center; color: #000000;">{{this.email}}</td>
                                        <td style="text-align: center; color: #000000;">{{this.phone}}</td>
                                        <td style="text-align: center; color: #000000;">{{formatDate this.birthDay}}</td>
                                        <td style="text-align: center; ">
                                            <a href="/user/{{this._id}}/edit"   class="btn btn-secondary edit" >
                                                <span class="ti-pencil-alt"></span>&nbsp;
                                                Sửa
                                            </a>
                                            <button class="btn btn-danger remove" type="button" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-user-modal">  
                                                <span class="ti-trash"></span>&nbsp;
                                                Xóa
                                            </button>
                                        </td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            Bạn Chưa Tạo tài khoản nào.
                                            <a href="/user/create">Tạo Tài khoản</a>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{!-- Confirm  delete courses --}}
    <div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="transition: all 0.3s ease">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold text-dark" id="deleteUnitModalLabel">Xác nhận xóa người dùng</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Hành động này không thể khôi phục.</p>
                    <p>Bạn đã chắc chắn muốn xóa?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <button class="btn btn-danger" id="btn-delete-user" type="button">Xác nhận xóa</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- Delete hidden form --}}
    <form name="delete-user-form" method="POST"></form>

    {{#if errors}}
        <div id="errors" style="visibility: hidden;">{{errors}}</div>
    {{else}}
        {{#if success}}
        <div id="success" style="visibility: hidden;">{{success}}</div>
        {{/if}}
    {{/if}}

<script>
        var msgError = document.getElementById('errors');
        ///toast message
        let msgToastError = msgError.innerHTML;

        if(msgToastError != ''){
            Eggy({
                title: 'Oops... Có gì đó không đúng',
                message:  msgToastError,
                type: 'warning',
                duration: 5000,
            });
        }
</script>
<script>
        var msgSuccess = document.getElementById('success');
        let msgToastSuccess = msgSuccess.innerHTML;
        if(msgToastSuccess != ''){
            Eggy({
                title: 'Thành Công',
                message:  msgToastSuccess,
                type: 'success',
                duration: 5000,
            });
        }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        //Delete
        var userID;
        var deleteForm = document.forms["delete-user-form"];
        var btnDeleteUser = document.getElementById('btn-delete-user');
            
        $('#delete-user-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            userID = button.data('id');  
        });
        
        btnDeleteUser.onclick= function(){
            deleteForm.action ='/user/'+ userID +'?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>